body {
	background: #333;
}

.bg-div {
	background: url(../img/river.jpg);
	width: 1228px;
	height: 690px;
	margin: 0 auto;
	position:relative;
}
.search-box{
	/*bg-div未设置position的时候相对于body绝对定位，设置成relative,则相对于bg-div绝对定位*/
	position:absolute;
	top:200px;
	left:300px;
}
.logo {
	margin:-4px 18px 0 0;
	background: url(../img/logo.png);
	width: 107px;
	height: 53px;
	float:left;
	
}

form{
	float:left;
	background:#fff;
	padding:5px;
}
.search-input-text{
	border:0;
	float:left;
	height:25px;
	line-height:25px;
	outline:none;
	width:350px;
	
}
 
.search-input-button{
	border:0;
	background:url(../img/search-button.png);
	width:29px;
	height:29px;
	float:left;
}
.suggest{
	 width:388px;
	 background:#fff;
	 border:1px solid #999;
}
.suggest ul{
	list-style: none;
	margin:0;
	padding:0;
}
.suggest ul li{
	padding:3px;
	font-size:14px;
	line-height:25px;
	cursor:pointer;
}
.suggest ul li:hover{
text-decoration: underline;
background:#e5e5e5;

}
